<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pantum"
    android:versionCode="11"
    android:versionName="0.6.2" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pantum_logo_icon"
        android:label="@string/app_name" >
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name="com.pantum.train.TrainNavigationDrawer"
            android:configChanges="orientation|keyboard|screenLayout|screenSize"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.pantum.train.TrainMapViewActivity"
            android:configChanges="orientation|keyboard|screenLayout|screenSize"
            android:label="@string/title_map_activity"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCw29LlfShX749bJUwrGadZNjKC96e3u88" />

        <activity
            android:name="com.pantum.main.MainPageActivity"
            android:configChanges="orientation|keyboard|screenLayout|screenSize"
            android:label="@string/title_activity_main_page"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pantum.cctv.CCTVMainPageActivity"
            android:configChanges="orientation|keyboard|screenLayout|screenSize"
            android:label="@string/title_activity_cctvmain_page"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.pantum.cctv.CCTVViewActivity"
            android:configChanges="orientation|keyboard|screenLayout|screenSize"
            android:label="@string/title_activity_cctvview"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.pantum.main.SettingActivity"
            android:configChanges="orientation|keyboard|screenLayout|screenSize"
            android:label="@string/title_activity_setting"
            android:theme="@style/AppTheme" >
        </activity>
    </application>

</manifest>